
###> symfony/framework-bundle ###
/.env.local
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/_dev/
/templates/.DS_Store
public/proxy/proxy_log.log
public/proxy/proxy.sqlite
###< symfony/framework-bundle ###
#