.btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .8rem;
    transition: all .2s ease-in-out
}

.btn.btn-green {
    background: #b1c908;
    color: #fff
}

.btn.btn-green:hover {
    background: none;
    border: 1px solid #000;
    color: #000
}

.btn.btn-small {
    font-size: .8rem;
    max-width: 100px;
    padding: .5rem
}

.btn.btn-uav-small {
    font-size: .8rem;
    margin-right: 4px;
    padding: .5rem
}

.btn.btn-outline, .btn.btn-uav-small {
    border: 1px solid #e7eaf3
}

.btn.btn-outline:hover {
    background: #b1c908;
    border-color: #b1c908;
    color: #fff
}

.btn.btn-rounded {
    border: 1px solid #e7eaf3;
    border-radius: 100px;
    padding: 8px 18px
}

.btn.btn-rounded:hover {
    background: #b1c908;
    border: 1px solid #b1c908;
    color: #132144
}

.btn.btn-icon {
    align-items: center;
    display: flex;
    flex-direction: row
}

.btn.btn-icon .menu-item-icon {
    margin-right: 6px
}

.btn.uav-btn-more {
    border: 1px solid #e7eaf3;
    font-size: .8rem;
    padding: .5rem
}

.notification {
    border-radius: 100%;
    display: block;
    position: relative;
    transition: all .2s ease-in-out
}

.notification:after {
    background: #b1c908;
    border-radius: 100%;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px
}

.notification:hover {
    background: rgba(177, 201, 8, .2)
}

.card {
    border: 1px solid #e7eaf3;
    border-radius: .75rem;
    padding: 2.4rem 2rem
}

.card.card-login {
    align-items: center;
    justify-content: center;
    max-width: 360px
}

.card.card-login.card-signup {
    max-width: 500px
}

.card.card-login .btn {
    width: 100%
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0
}

.card .card-header.card-header-uav {
    padding: .5rem 0
}

.card .card-body {
    padding: 2rem 0 1rem
}

.card .card-body .card-profile-image .profile-image {
    display: block;
    margin: 0 auto;
    max-width: 60%
}

.card .card-footer {
    background-color: transparent;
    border-top: 0
}

.nav-tabs {
    border-bottom: 2px solid rgba(152, 166, 173, .2)
}

.nav-tabs .nav-link {
    /*border: none;*/
    color: #132144;
    font-size: .8rem;
    /*padding: .625rem 1rem*/
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #b1c908
}

.badge {
    border-radius: .25rem;
    color: #fff;
    display: inline-block;
    font-size: .65rem;
    font-weight: 600;
    line-height: 1;
    padding: .4rem;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap
}

.badge.badge-danger {
    background: #fee2e8;
    color: #fa5c7c
}

.badge.badge-success {
    background: #d8f6ec;
    color: #0acf97
}

.badge.badge-info {
    background: #ddf1f6;
    color: #39afd1
}

.badge.badge-outline {
    border: 1px solid #ccc;
    color: #ccc
}

.badge.badge-attention {
    background: #ffeeca;
    color: #febb2c
}

.login-card {
    background: #fff;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px
}

.login-card .login-card-header {
    padding: 2rem 2rem 0
}

.login-card .login-card-body {
    padding: 1rem 2rem 0
}

.login-card .login-card-body .btn {
    width: 100%
}

.login-card .login-card-footer {
    border-top: 1px solid #e7eaf3;
    padding: 1rem 2rem 0
}

.login-card .login-card-footer .form-desc {
    font-size: .9rem;
    margin: 0
}

.login-card .login-card-footer .form-row {
    flex-direction: column
}

.btn-signup {
    max-width: 240px
}

.btn-outline-green {
    border-color: #b1c908
}

.btn-outline-green:hover {
    background: #b1c908;
    border-color: none;
    color: #fff
}

.btn-outline-signup {
    margin-right: .8rem;
    max-width: 180px
}

.btn-check:checked + .btn-outline-green, .btn-outline-green.active, .btn-outline-green:active {
    background: #b1c908;
    border-color: #b1c908;
    color: #fff
}

.close-btn {
    align-items: center;
    background: #fff;
    border: 1px solid #e7eaf3;
    border-radius: 100rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    position: fixed;
    right: 1rem;
    top: 4.4rem;
    transform: scale(.8);
    z-index: 100000
}

.close-btn span {
    background-color: #fff;
    display: block;
    height: 2px;
    position: absolute;
    width: 1.5rem
}

.close-btn span:before {
    transform: rotate(130deg)
}

.close-btn span:after, .close-btn span:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    width: 1.5rem
}

.close-btn span:after {
    transform: rotate(45deg)
}

.close-btn.close-btn-closed span {
    background-color: #000;
    display: block;
    height: 2px;
    position: absolute;
    width: 1.5rem
}

.close-btn.close-btn-closed span:before {
    transform: rotate(0) translateY(-8px)
}

.close-btn.close-btn-closed span:after, .close-btn.close-btn-closed span:before {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 1.5rem
}

.close-btn.close-btn-closed span:after {
    transform: rotate(0) translateY(8px)
}

.login-card.signup-card {
    min-width: 750px
}

.login-card .login-card-header.login-card-header-signup {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0
}

.login-card .login-card-header .login-card-header-title {
    font-size: 1.5rem;
    margin-bottom: 0
}

.form-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem
}

.form-row.form-column {
    flex-direction: column;
}

.form-row .form-input {
    width: 100%
}

.form-row .form-input.form-input-signup {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 1rem
}

.form-row .form-input.form-input-center {
    width: auto
}

.form-row .form-input .form-input-small {
    display: flex;
    flex-direction: row
}

.form-row .form-input .form-input-small .form-control-small {
    margin-right: 8px
}

.form-row .form-input .form-input-small .form-control-small:last-child {
    margin: 0
}

.form-row .form-input .input-label {
    display: block;
    font-size: .8rem;
    margin-bottom: .4rem;
    transition: all .2s ease-in-out
}

.form-row .form-input .input-label.input-label-upload {
    align-items: center;
    /*border: 1px solid #b1c908;*/
    border-radius: 2px;
    color: #b1c908;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 45px;
    text-align: center;
    width: 100%
}

.form-row .form-input .input-label.input-label-upload:hover {
    border-color: #132144;
    color: #132144
}

.form-row .form-input .form-control {
    /*border: 1px solid #dee2e6;*/
    padding: .6rem .8rem
}

.form-row .form-input .form-check-label {
    font-size: .8rem
}

.form-input-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0
}

.form-input-desc {
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: .4rem
}

.form-desc {
    font-size: .7rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: .4rem
}

.form-alert.alert-danger {
    align-items: center;
    background: #f7d7db;
    border-color: #f5c2c7;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 24px
}

.form-alert .alert-message {
    color: #842029;
    font-size: .8rem;
    text-align: center
}

.form-check-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%
}

.form-check-group .form-check-label {
    font-size: .8rem;
    margin-right: .4rem
}

.form-check-group .form-check {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    min-height: 45px
}

.form-check-group .form-check label {
    margin-left: .5rem
}

.btn-group {
    flex: 0;
    flex-wrap: wrap
}

.btn-group > .btn {
    border-radius: 0;
    flex: 0;
    font-size: .8rem;
    margin-right: .2rem;
    margin-top: .1rem;
    white-space: nowrap
}

select {
    height: 45px
}

.form-title {
    margin-top: 1rem
}

.uploadfile {
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: .1px;
    z-index: -1
}

.uploadfile, .uploadfile + label {
    transition: all .2s ease-in-out
}

.uploadfile + label {
    align-items: center;
    border: 1px solid #b1c908;
    border-radius: 2px;
    display: flex;
    font-size: .8rem;
    justify-content: center;
    min-height: 45px;
    text-align: center
}

.uploadfile + label:hover, .uploadfile:focus + label {
    background: #132144;
    border-color: #132144;
    color: #fff
}

.uploadfile + label {
    cursor: pointer
}

.uploadfile:focus + label {
    outline: 1px dotted #000;
    outline: 5px auto -webkit-focus-ring-color
}

tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    font-size: .85rem;
    vertical-align: baseline
}

th {
    font-size: .65rem
}

body, html {
    height: 100vh
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100%
}

.page {
    height: 100%;
    position: relative;
    width: 100%
}

.page.page-map {
    display: flex;
    flex-direction: row;
    overflow: hidden
}

.page.page-map .map-container {
    height: 100%;
    width: 100%
}

img {
    height: auto;
    max-width: 100%
}

[contenteditable].form-control:focus, [type=email].form-control:focus, [type=password].form-control:focus, [type=tel].form-control:focus, [type=text].form-control:focus, canvas, canvas:focus, input.form-control:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=text]:focus, select, textarea.form-control:focus, textarea:focus {
    outline: none !important
}

.page-header {
    border-bottom: 1px solid #e7eaf3;
    margin-bottom: 2.25rem;
    padding: 2rem 0
}

.page-header, .page-header .page-title {
    align-items: center;
    display: flex;
    flex-direction: row
}

.page-header .page-title .title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-right: 1rem
}

.page-login {
    align-items: center;
    background: #f2f4f7;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%
}

.sidebar {
    display: flex;
    height: 100%;
    position: relative;
    transition: all .2s ease-in-out;
    width: auto
}

.sidebar .sidebar-content {
    background: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 360px;

}

.sidebar .sidebar-content .sidebar-header {
    border-bottom: 1px solid #e7eaf3;
    margin-bottom: 1rem
}

.sidebar .sidebar-content .sidebar-header .sidebar-title {
    font-size: 1rem;
    padding: 1rem
}

.sidebar .sidebar-content .sidebar-body {
    display: flex;
    height: 100%;
    overflow-y: scroll;
    padding: 0 1rem
}

.sidebar .sidebar-content .sidebar-body .uav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item {
    border: 1px solid #e7eaf3;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item:last-child {
    margin-bottom: 0
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-header .uav-item-status {
    background: #0acf97;
    border-radius: 10rem;
    color: #fff;
    font-size: .8rem;
    padding: .2rem .6rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-body {
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: .5rem 1rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-body .uav-item-row {
    font-size: .8rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-body .uav-item-row .uav-item-reg {
    color: #132144;
    font-size: 1.2rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-body .uav-item-row .uav-item-desc {
    color: #999;
    margin-right: .5rem
}

.sidebar .sidebar-content .sidebar-body .uav-list .uav-list-item .uav-item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem;

}

.quality {
    bottom: 10rem;
    left: 1rem;
    position: absolute
}

.quality .quality-title {
    font-size: .8rem;
    margin-bottom: 0
}

.quality select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #fff;
    border-radius: 100rem;
    font-size: .8rem;
    height: 32px;
    padding: .2rem .5rem;
    text-align: center
}

.esri-expand__content--expanded, .esri-widget--panel {
    overflow: visible
}

.esri-view-surface--inset-outline {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none
}

.esri-expand, .esri-widget, .esri-widget--button {
    border-radius: 1rem;
    box-shadow: none
}

.esri-popup, .esri-widget--panel, .esri-widget--panel-height-only {
    border-radius: 16px
}

.esri-component {
    box-shadow: none !important
}

.esri-layer-list {
    background: #fff
}

.esri-basemap-gallery__item-thumbnail {
    border-radius: 8px;
    box-shadow: none
}

.esri-basemap-gallery__item--selected, .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus, .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover {
    background-color: #b1c908;
    border-left-color: #b1c908
}

.footer {
    border-top: 1px solid #e7eaf3;
    margin-top: 16px;
    padding: 24px 0
}

.footer .footer-copyrights {
    font-size: 12px;
    margin-bottom: 0;
    text-align: center
}

.navbar {
    border-bottom: 1px solid #e7eaf3;
    justify-content: space-between;
    padding: 0 16px
}

.nav-menu, .navbar .navbar-left, .navbar .navbar-right {
    align-items: center;
    display: flex;
    flex-direction: row
}

.nav-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 1rem
}

.nav-menu .nav-menu-item {
    padding: 0 8px
}

.nav-menu .nav-menu-item .nav-menu-link {
    align-items: center;
    color: #132144;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    justify-content: flex-start;
    text-decoration: none
}

.content {
    height: 100vh;
    padding-bottom: 1.75rem;
    padding-top: 1.75rem
}

.link.link-simple {
    color: #b1c908;
    font-size: .8rem
}

.label_invisible{
    display: none;
}
.footer-alert{
    position: absolute;
    width: 40%;
    top: 300px;
    left:30%;
}


