     {% block styles %}
            {% include('header.html.twig') %}
     {% endblock %}

     {% block header %}
            {% include('nav.html.twig') %}
     {% endblock %}

        <div class="page-content"> 

        <div class="page-map-container">
            <div class="page-map-content" id="map-airsituation">
        </div>
        </div>

