    {% block header %}
            {% include('header.html.twig') %}
    {% endblock %}


    <div class="login-page">


                
                <div class="card card-login">
                    <div class="card-header">
                        <img src="assets/images/abrlogologin.svg" alt="" class="card-iamge">
                    </div>
                    <div class="card-body">

                        <form action="/" class="form-login">
                            <div class="form-input">
                                <label class="input-label" for="inputLogin">Логин</label>
                                <input type="text" class="form-control" id="inputLogin">
                            </div>

                            <div class="form-input">
                                <label class="input-label" for="inputLogin">Пароль</label>
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                              
                            <div class="form-input">
                                <button class="btn btn-green" type="button">Войти</button>
                            </div>
                        
                        </form>

                    </div>
                    <div class="card-footer">
                        <div class="">У вас нет учетной записи?
                            <a href="/signup/" class="registration-link">Зарегистрируйтесь</a>
                        </div>
                    </div>
                </div>


    </div>


    {% block footer %}
            {% include('footer.html.twig') %}
    {% endblock %}