<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ZZZ!{% endblock %}</title>

        {% block stylesheets %}
{#            {% include('stylesheets/default.html.twig') %}#}
        {% endblock %}

        {% block javascripts %}
{#            {% include('scripts/default.html.twig') %}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ dump(5+2) }}
        {% endblock %}
    </body>
</html>
