<header class="navbar">

    <div class="navbar-left">

        <a href="/" class="logo">
            <img src="/assets/images/abrlogo.svg" alt="">
        </a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/airsituation/" class="nav-menu-link active">Воздушная обстановка</a>
            </li>
            {% if not user.hasRole(constant('App\\Api\\Content\\User\\User::ROLE_OPERATOR')) %}
                <li class="nav-menu-item">
                    <a href="/tracks/" class="nav-menu-link">Маршруты</a>
                </li>
            {% endif %}
            <li class="nav-menu-item">
                <a href="/flights/" class="nav-menu-link">Полеты</a>
            </li>
            <li class="nav-menu-item">
                <a href="/archive/" class="nav-menu-link">Архив</a>
            </li>
        </ul>

    </div>


    <div class="navbar-right">

        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link notification"><img src="/assets/images/icon__notification.svg" alt=""></a>
            </li>
            <li class="nav-menu-item">
                <a href="/uav/" class="nav-menu-link">
                    <img src="/assets/images/icon__drone.svg" alt="" class="menu-item-icon">
                    БВС
                </a>
            </li>
            <li class="nav-menu-item">
                <a href="/profile/" class="nav-menu-link">
                    <img src="/assets/images/icon__user.svg" alt="" class="menu-item-icon">
                    {{ user.user.firstname }}&nbsp;{{ user.user.lastname }}
                </a>
            </li>
            <li class="nav-menu-item">
                <a href="#" id="logout" class="nav-menu-link btn btn-rounded">Выйти</a>
            </li>
        </ul>

    </div>

</header>


     