{% block styles %}
    {% include('header.html.twig') %}
{% endblock %}

     {% block header %}
         {% include('nav.html.twig') %}
     {% endblock %}

<div class="page-content">

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="page-title">
                    <h2 class="title">
                        {% if user.role('ROLE_OWNER') %}
                            Мои БВС
                        {% else %}
                            Реестр БВС
                        {% endif %}
                    </h2>
                    <button class="btn btn-green" data-bs-toggle="modal" id="addAircraftBtn" data-bs-target="#modalUav">
                        Добавить БВС
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="page-body">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="form-input">
                            <input placeholder="Поиск" type="text" id="firstname" class="form-control">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-centered mb-0">

                            </table>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block modals %}
        {% set engineTypes = aircrafts.aircrafts|first.engineTypes %}
{#        {% include 'components/modals.html.twig' with engineTypes %}#}
    {% endblock %}


    {% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}