{% block styles %}
    {% include('header.html.twig') %}
{% endblock %}

{% block header %}
    {% include('nav.html.twig') %}
{% endblock %}

<div class="page page-map">

    <main class="map-container" id="map-operator">
    </main>
      <div id="optionsDiv" style="position: absolute; bottom: 17px; width: 100%; padding: 20px 0; z-index: 1;text-align: center;" >
      <button id="createRoute" style ="background: white; padding: 7px; border: 1px solid #005e95;  font-size: 0.8em;  margin: 5px; color: #005e95;">Создать маршрут</button>
      <button id="saveRoute" style ="background: white; padding: 7px; border: 1px solid #005e95;  font-size: 0.8em;  margin: 5px; color: #005e95;">Сохранить</button>
      <button id="saveRouteAs" style ="background: white; padding: 7px; border: 1px solid #005e95;  font-size: 0.8em;  margin: 5px; color: #005e95;">Сохранить как</button>
      <button id="importGeometry" style ="background: white; padding: 7px; border: 1px solid #005e95;  font-size: 0.8em;  margin: 5px; color: #005e95;">Импорт геометрии</button>
      <button id="deleteRoute" style ="background: white; padding: 7px; border: 1px solid #005e95;  font-size: 0.8em;  margin: 5px; color: #005e95;">Удалить</button>
      <input type="file" name="file" id="inFile" style ="background: white; padding: 7px; border: 1px solid #005e95;  font-size: 0.8em;  margin: 3px; color: #005e95;opacity : 1" /> 

    </div>

         
    
    
    <aside>

        {% block sidebar %}
            {% include('/components/sidebar.html.twig') %}
        {% endblock %}

    </aside>
</div>
 

