{% block styles %}
    {% include('header.html.twig') %}
{% endblock %}

{% block header %}
    {% include('nav.html.twig') %}
{% endblock %}

<div class="page page-map">

    <main class="map-container" id="map-operator">
      <div class="quality"  style="bottom: 4rem;left: 1rem; position: absolute">
          <input type="file" name="file" id="inFile" style="opacity : 1" /> 
       </div>    
      <div class="quality">
      <button id="createRoute" class="esri-button esri-button-overwrite">Создать маршрут</button>
        </div>
         
    </main>
    
    <aside>

        {% block sidebar %}
            {% include('/components/sidebar.html.twig') %}
        {% endblock %}

    </aside>
</div>
 

