
<!-- Modal -->
<div class="modal fade" id="uavMenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Мои БВС</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>

     
<div class="modal fade" id="profileMenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Мой профиль</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <div class="card">
              <div class="card-header"></div>
              <div class="card-body">

                <form action="/" class="form form-profile">
                <div class="form-input">
                  <label for="secondname" class="form-label">Фамилия *</label>
                  <input type="text" id="surname" class="form-control">
                </div>
                <div class="form-input">
                  <label for="firstname" class="form-label">Имя *</label>
                  <input type="text" id="firstname" class="form-control">
                </div>
                <div class="form-input">
                  <label for="thirdname" class="form-label">Отчество</label>
                  <input type="text" id="thirdname" class="form-control">
                </div>
                <div class="form-input">
                  <label for="email" class="form-label">E-mail</label>
                  <input type="email" id="email" class="form-control">
                </div>
                <div class="form-input">
                  <label for="tel" class="form-label">Телефон</label>
                  <input type="tel" id="tel" class="form-control">
                </div>

                <div class="form-input">
                  <label for="role" class="form-label">Выберите роль</label>
                  <select type="role" id="tel" class="form-control">
                    <option selected value="individual">Физическое лицо</option>
                    <option value="entrepreneur">Представитель ИП</option>
                    <option value="legal">Представитель юридиечского лица</option>
                    <option value="atm">Представитель ОРВД</option>
                    <option value="aerodrome">Представитель аэродрома (вертодрома)</option>
                    <option value="municipal">Представитель муниципальной администрации</option>
                  </select>
                </div>


                <button type="submit" class="btn btn-outline">Сохранить</button>

                </form>



              </div>
              <div class="card-footer"></div>
            </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>