



<!-- Modal UAV -->
<div class="modal fade" id="modalUav" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Регистрация нового БВС</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 


          <form action="/" class="form-uav" id="form-uav">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-row">            
                     <div class="form-input">
                      <label class="input-label" for="secondname">Фамилия</label>
                      <input type="text" class="form-control" id="1" name="secondname">
                  </div>
                </div>
              </div>
            <div class="col-md-6">
        <div class="form-row">            
          <div class="form-input">
              <label class="input-label" for="secondname">Фамилия</label>
              <input type="text" class="form-control" id="1" name="secondname">
          </div>
      </div>
    </div>
          </div>

        </div>

          </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-green">Сохранить</button>
      </div>
    </div>
  </div>
</div>