<div class="sidebar" id="sidebar">

  <div class="sidebar-content">

    <div class="sidebar-header">
      <h3 class="sidebar-title">БВС в воздухе</h3>
    </div>

    <div class="sidebar-body">
      <ul class="uav-list">

        <li class="uav-list-item">
          <div class="uav-item-header">
            <span class="uav-item-status">В полёте</span>
            <button class="btn uav-btn-more">Подробнее</button>
          </div>
          <div class="uav-item-body">
            <span class="uav-item-row uav-item-reg">123123123123ABBB</span>
            <span class="uav-item-row uav-item-flight"><span class="uav-item-desc">Номер полета</span>0000000</span>
            <span class="uav-item-row uav-item-date-start"><span class="uav-item-desc">Дата начала полета</span>14.12.2020 16:30</span>
            <span class="uav-item-row uav-item-date-end"><span class="uav-item-desc">Дата окончания полета</span>14.12.2020 16:30</span>
          </div>
          <div class="uav-item-footer">
            <button class="btn btn-uav-small">Стоп</button>
            <button class="btn btn-uav-small">Возврат</button>
            <button class="btn btn-uav-small">Кружиться</button>
            <button class="btn btn-uav-small">Посадить</button>
          </div>
        </li>

        <li class="uav-list-item">
          <div class="uav-item-header">
            <span class="uav-item-status">В полёте</span>
            <button class="btn uav-btn-more">Подробнее</button>
          </div>
          <div class="uav-item-body">
            <span class="uav-item-row uav-item-reg">123123123123ABBB</span>
            <span class="uav-item-row uav-item-flight"><span class="uav-item-desc">Номер полета</span>0000000</span>
            <span class="uav-item-row uav-item-date-start"><span class="uav-item-desc">Дата начала полета</span>14.12.2020 16:30</span>
            <span class="uav-item-row uav-item-date-end"><span class="uav-item-desc">Дата окончания полета</span>14.12.2020 16:30</span>
          </div>
          <div class="uav-item-footer">
            <button class="btn btn-uav-small">Стоп</button>
            <button class="btn btn-uav-small">Возврат</button>
            <button class="btn btn-uav-small">Кружиться</button>
            <button class="btn btn-uav-small">Посадить</button>
          </div>
        </li>

        <li class="uav-list-item">
          <div class="uav-item-header">
            <span class="uav-item-status">В полёте</span>
            <button class="btn uav-btn-more">Подробнее</button>
          </div>
          <div class="uav-item-body">
            <span class="uav-item-row uav-item-reg">123123123123ABBB</span>
            <span class="uav-item-row uav-item-flight"><span class="uav-item-desc">Номер полета</span>0000000</span>
            <span class="uav-item-row uav-item-date-start"><span class="uav-item-desc">Дата начала полета</span>14.12.2020 16:30</span>
            <span class="uav-item-row uav-item-date-end"><span class="uav-item-desc">Дата окончания полета</span>14.12.2020 16:30</span>
          </div>
          <div class="uav-item-footer">
            <button class="btn btn-uav-small">Стоп</button>
            <button class="btn btn-uav-small">Возврат</button>
            <button class="btn btn-uav-small">Кружиться</button>
            <button class="btn btn-uav-small">Посадить</button>
          </div>
        </li>

        <li class="uav-list-item">
          <div class="uav-item-header">
            <span class="uav-item-status">В полёте</span>
            <button class="btn uav-btn-more">Подробнее</button>
          </div>
          <div class="uav-item-body">
            <span class="uav-item-row uav-item-reg">123123123123ABBB</span>
            <span class="uav-item-row uav-item-flight"><span class="uav-item-desc">Номер полета</span>0000000</span>
            <span class="uav-item-row uav-item-date-start"><span class="uav-item-desc">Дата начала полета</span>14.12.2020 16:30</span>
            <span class="uav-item-row uav-item-date-end"><span class="uav-item-desc">Дата окончания полета</span>14.12.2020 16:30</span>
          </div>
          <div class="uav-item-footer">
            <button class="btn btn-uav-small">Стоп</button>
            <button class="btn btn-uav-small">Возврат</button>
            <button class="btn btn-uav-small">Кружиться</button>
            <button class="btn btn-uav-small">Посадить</button>
          </div>
        </li>

      </ul>
    </div>

  </div>

</div>
