<!DOCTYPE html>
<html>

	<head>

		<meta charset="UTF-8">
		<title>ABR AIRCHANNEL UTM</title>
		<link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css"/>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/app.css" rel="stylesheet">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<script src="../assets/js/bootstrap.bundle.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>

		


		<script src="../assets/js/jquery.cookie.js"></script>
		<script src="../assets/js/app.js"></script>
		<script src="../assets/js/forms.js"></script>

		{# ESRI #}
		<script src="https://js.arcgis.com/4.19/"></script>
		<script src="../assets/js/esri-app-owner.js"></script>
		<script src="../assets/js/esri-app-operator.js"></script>
        
	</head>

	
<body>
