






                <div class="tab-content">
                        <div class="tab-pane active" id="map-airsituation" role="tabpanel" aria-labelledby="map-airsituation-tab">test1</div>
                        <div class="tab-pane" id="map-routes" role="tabpanel" aria-labelledby="map-routes-tab">test2</div>
                        <div class="tab-pane" id="map-flights" role="tabpanel" aria-labelledby="map-flights-tab">test3</div>
                        <div class="tab-pane" id="map-archive" role="tabpanel" aria-labelledby="map-archive-tab">test4</div>
                      </div>